.App {
  text-align: center;

}
h1{
  color:#FFC107;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    120deg,
  
     #7a0000
    ,
    #240000
  );
}